.desktop{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.desktop>img{
    width: 25% !important;
    margin-bottom: 15px;
}
.desktop>span{
    font-size: 22px;
}