.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.home-status{
    width: 100%;
    display: flex;
    justify-content: center;
}
.home-status>div{
    width: 115px;
    height: 115px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: #001D53;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
}
.home-status>div>img{
    margin-bottom: 10px;
    width: 30px;
    margin-top: 15px;
}
.home-status>div>span{
    margin-bottom: 30px;
}
.home-action-button-wrapper{
    width:100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.home-action-button-wrapper>div{
    width: 115px;
    height: 115px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}