@font-face {
  font-family: iranSans;
  src: url(/src/Assets/font/IRANSansWeb_Medium.ttf);
}
@font-face {
  font-family: iranSansLight;
  src: url(/src/Assets/font/IRANSansWeb.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iranSans;
}
.app{
  width: 100%;
  /* height: 100vh; */
  display: flex;
}
.pwa{
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background-image: url(./Assets/images/background.png);
  background-size: contain;
  overflow-x: hidden;
}
.ant-modal-footer{
  display: flex;
  justify-content: center;
  border-top:unset !important;
}
.ant-modal-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-loading{
  width: 30%;
  margin-top: 30px;
}
@media only screen and (max-width:800px){
  .pwa{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .app{
    display: none !important;
  }
}